<div class="header">
    <div class="logo">
        <img src="assets/images/book-logo.jpg" alt="">
    </div>
    <div class="search-box">
        <input type="text" placeholder="Search by Title, Author, Publisher or ISBN">
        <mat-icon>search</mat-icon>
    </div>
    <div class="account">
        <div class="login">Login</div>
        <div class="seperator"></div>
        <div class="signup">Signup</div>
        <div class="profile">
            <mat-icon>person</mat-icon>    
        </div>
    </div>
    <div class="cart">
        <div class="count">0</div>
        <div class="cart-icon"><mat-icon>add_shopping_cart</mat-icon></div>
    </div>
</div>
